.container {
  width: 240px;
  border: 1px solid black;
}

.header {
  height: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.type {
  padding: 3px 6px;

  color: var(--primary);
  background-color: var(--primary-light);

  border-radius: 5px;
}
